/**
 *  Common styles and framework ********************
 */

html, body {
}

body {
	background:       #D5D5D5 url('../img/pattern.png');
	color:						#222;
  font-family:      "Georgia", sans-serif;
}

.clearfix {
  clear:            both;
}

.accent {
  color:            #DE9E00;
}

.bold {
  font-weight:      bold;
}

.italic {
  font-style:       italic;
}

.placeholder {
	color:						#AAA;
}

a {
  color:            #803400;
  text-decoration:  underline;
}

a:hover {
  text-decoration:  none;
}

h1, h2, h3 {
	color:						#222;
  font-family:      "Georgia", sans-serif;
}

.button {
	display:					inline-block;
}
.button .submit {
  border:           3px solid #DE9E00;
  background:       #DE9E00;
  color:						#FFF;
  cursor:           pointer;
  padding:          2px 10px;
}
.button .submit:hover {
	border:						3px solid #866000;
  background:       #866000;
  color:						#FFF;
}
.button .submit:active {
	padding:					1px 9px;
}

.drop-shadow {
  position:relative; 
  margin:2em 10px 4em; 
  background:#fff;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.drop-shadow:before,
.drop-shadow:after {
  content:"";
  position:absolute; 
  z-index:-2;
}

.curved:before {
  top:10px;
  bottom:10px;
  left:0;
  right:50%;
  -webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
  -moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
  box-shadow:0 0 15px rgba(0,0,0,0.6);
  -moz-border-radius:10px / 100px;
  border-radius:10px / 100px;
}

.curved-hz-2:before {
  top:0;
  bottom:0;
  left:10px;
  right:10px;
  -moz-border-radius:100px / 10px;
  border-radius:100px / 10px;
}

.container {
	border:           0;
  min-height:       300px;
  margin:           10px auto;
  width:            830px;
}

.container.page {
	background:       #F8F8F8;
	min-height:       50px !important;
  padding:          25px; 
}

.header a {
	color:						#222;
  text-decoration:  none;
}

.header p.picture {
	display:					inline-block;
	height:						60px;
	vertical-align:		middle;	
}

.header p.picture img {
	border:						1px solid #DDD;
	height:						50px;
	width:						50px;
}

.header p.name {
	display:					inline-block;
	font-size:				50px;
	font-family:			"Bebas-Neue-Regular", Helvetica, sans-serif;
	height:						60px;
	letter-spacing:		0px;
	margin:						4px 0 0 10px;
	overflow-y:				hidden;
	width:						360px;
	word-spacing:			-1px;
	vertical-align:		middle;
	text-shadow: 			0px 1px 0px #e5e5ee;
}

.header h3.slogan {
  color:            #222;
  display:          inline-block;
  font-size:        13px;
  font-weight:			normal;
  height:           20px;
  margin-left:			130px;
  overflow:         hidden;
  vertical-align:		middle;
  text-align:				right;
}

.quotebox {
	font-size:				13px;
	margin:						5px 0 0 0;
	min-height:				13px;
	padding:					5px 5px 5px 6px;
	word-spacing:			0px;
}

.quotearrow {
	background:				url('../img/quotearrow.png');
	height:						8px;
	width:						18px;
	top:							-8px;
	left:							17px;
	position:					absolute;
}

.message {
	border:						2px solid #CCC;
	display:					block;
	margin:						30px 0 -10px 0;
	padding:					10px;
}
.message.success {
	border:						2px solid #07B807;
}
.message.error {
	border:						2px solid #B00000;
}
.message p {
	display:					inline-block;
	vertical-align:		middle;
}
.message .symbol {
	display:					inline-block;
	font-size:				25px;
	margin-right:			5px;
	vertical-align:		middle;
}
.message.success .symbol {
	color:						#07B807;
}
.message.error .symbol {
	color:						#B00000;
}

.signup {
	margin:						40px auto 20px;
	width:						830px;
}

.signup .photo {
	float:						left;
	width:						345px;
} 
.signup .form {
	float:						right;
	width:						455px;
	padding:					0 10px 0 7px;
}
.signup .form input {
	font-size:				20px;
}
.signup .form h1 {
	font-size:				18px;
	line-height:			22px;
	margin:						0 0 5px 0;
}
.signup .form p {
	font-size:				14px;
	line-height:			18px;
	margin:						10px 0;
}
.signup .photo img {
	border:						1px solid #BBB;
	height:						175px;
	width:						350px;
}
.signup .form form {
	display:					inline-block;
	margin:						5px 0 0 0;
	padding:					0px;
}
.signup .form form input[type=text] {
	border:						2px solid #DE9E00;
	margin-right:			5px;
	width:						310px;
	padding:					3px 4px;
}

.left iframe {
	height:						1000px;
	margin:						20px 0 0 0;
	padding:					0;
	width:						500px;
	overflow-x:				hidden;
}

.container .left, .container .right {
	float:						left;
	margin-top:				40px;
}

.index .container .left {
	width:						525px;
	padding-right:		5px;
}
.index .container .right {
	width:						275px;
	padding-left:			5px;
}

.title {
	background:				#DE9E00;
	color:						#FFF;
	display:					block;
	font-family:			"Bebas-Neue-Regular", Helvetica, sans-serif;
	font-size:				20px;
	font-weight:			normal;
	letter-spacing:		1px;
	padding:					5px 5px 3px 5px;
	overflow:					hidden;
	width:						275px;
}

.index .right .content {
	min-height:				50px;
	margin-bottom:		30px;
}

.index .right .content p {
	color:						#222;
	display:					block;
	font-size:				14px;
	line-height:			18px;
	margin:						20px 10px 15px 5px;
	padding:					0;
}

.content ul.posts {
	font-size:				14px;
	line-height:			16px;
	margin:						20px 10px;
}

.content ul.posts h2 {
	display:					inline-block;
	font-weight:			normal;
}

.content ul.posts li {
	margin:						0 0 7px 0;
}

.content ul.posts li a {
	display:					inline-block;
	float:						left;
	vertical-align:		middle;
}

.content ul.posts li span {
	display:					inline-block;
	float:						left;
	width:						110px;
	vertical-align:		middle;
}

.contact {
	font-size:				14px;
	line-height:			18px;
	margin:						10px 0;
}

.contact .label {
	width:						60px;
	padding:					4px 10px 4px 2px;
}

.contact .data ul li {
	display:					inline-block;
	margin:						0 10px 0 0;
}

.fb-like {
	display:					inline-block;
	margin:						0 0 0 7px;
	height:						20px;
	width:						60px;
	vertical-align:		top;
}

.content .display_archive {
	margin:						10px 0 0 5px;
	width:						285px;
	overflow-x:				hidden;
}
.content .display_archive, .content .campaign {
	font-size:				12px;
	line-height:			18px;
}

.not-affiliated {
	color:						#AAA;
}

.manage .left {
	min-height:				300px;
}
.manage .left h1 {
	font-size:				16px;
	margin:						10px;
}
.manage .left ul {
	font-size:				14px;
	line-height:			20px;
	margin:						10px 10px 40px 10px;
}
.manage .left li {
}

body.tab {
  background:       #FFF;
}
.tab .signup {
	margin:						40px 0 20px 0;
	width:						inherit;
}
.tab .signup .form {
	float:						left;
}
.tab-footer {
	padding:					20px 10px;
}

.footer {
	color:						#555;
	font-size:				14px;
	height:						50px;
	margin:						0 auto;
	width:						860px;
	padding:					5px;
}

.footer .left {
  float:						left;
}

.footer .right {
	float:						right;
	margin-right:			10px;
	width:						550px;
	text-align:				right;
}
